@use "./utilities/global" as *;

.footer {
  background: color(bg-2);
  border-top: 1px solid color(border);
  padding: rem(32px);

  @media (min-width: $bp1) {
    padding: rem(32px) rem(60px);
  }
  @media (min-width: $w-desktop) {
    padding: rem(32px) rem(100px);
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(16px);
  }

  p {
    font-size: rem(11px);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: color(text-muted);
  }
}
