@use "./utilities/global" as *;

.container {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
  display: block;
  position: relative;
}

.warning {
  display: none;
}

.error {
  position: absolute;
  top: 0;
  right: 0;
  @include setFont(rem(11px), 16px, 500);
  color: hsl(0, 70%, 60%);
  letter-spacing: 0.5px;
}

.isInvalid input,
.isInvalid textarea {
  border-color: hsl(0, 70%, 60%) !important;
}

.isValid input,
.isValid textarea {
  border-color: color(amber) !important;
}
